.dropdown-menu li a:focus {color: #555555!important; background-color: #e7e7e7!important;}
.navbar-nav li a{text-decoration: none;color: #000;}
.navbar-nav li a:hover{text-decoration: none;color: #000;}
.navbar{background-color: #fff;border: 0;}


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/

:root{
    --font-weight:bold;
    --font-menu-size:16px;
}

/*---------------------------------------
   END
-----------------------------------------*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, span, ul, li, a, header{
    box-sizing: border-box;
}

/*-----------------------------
   reset css manually end
-------------------------------*/

/*-------------------------------
  header style css
---------------------------------*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background-color: #fff;
    position: fixed;
    z-index: 999;
}

/*---------------------------------
   end
-----------------------------------*/

/*----------------------------------
   menu style
------------------------------------*/

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-weight: var(--font-weight);
    font-size: var(--font-menu-size);
}

/*end*/

/*----------------------------------
  section style
------------------------------------*/

section{
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}

#home{
    background-color: #f0f0f0;
}

#about{
    background-color: #247cff;
}

#product{
    background-color: #565758;
}

#pricing{
    background-color: #717275;
}

#contact{
    background-color: #eaeaea;
}

/*end*/

/*-----------------------------
   h1 style
-------------------------------*/

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
}